.card-legend {
  position: absolute;
  top: -18px;
  left: 26px;
}

.cst-modal2 {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cst-modal {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cst-modal-body {
  width: 80vw;
  border-top: 10px solid #0275d8;
  border-bottom: 10px solid #0275d8;
  animation: openModal 0.5s ease-in forwards;
  overflow: auto;
  max-height: 100vh;
}

.cst-modal-body5 {
  width: 40vw;
  height: fit-content;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  animation: openModal 0.5s ease-in forwards;
  overflow: auto;
  max-height: 100vh;
}

.cst-modal-body2 {
  width: 70vw;
  height: fit-content;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  animation: openModal 0.5s ease-in forwards;
  overflow: auto;
  max-height: 100vh;
}

.cst-modal-body3 {
  width: 95vw;
  height: fit-content;
  border-top: 10px solid #0275d8;
  border-bottom: 10px solid #0275d8;
  animation: openModal 0.5s ease-in forwards;
  overflow: auto;
  max-height: 100vh;
}

.cst-close:hover {
  color: #d9534fed;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
}


.cst-icon {
  font-size: larger;
  color: #0275d8;
  transform: scale(1.5);
}

.cst-icon:hover {
  transform: scale(1.8);
  cursor: pointer;
  transition: 1s;
}

.borderblue {
  border-top: 5px solid #0275d8;
  border-bottom: 5px solid #0275d8;
}

@keyframes zoom {
  0% {}

  100% {
    transform: scale(1.3);
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }

  100% {
    opacity: 1;
  }
}

.ianimate i {
  animation: warningicon 2s ease-in infinite;
}

@keyframes warningicon {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-10deg);
  }

  85% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.cst-btn-top {
  border-radius: 5px 5px 0 0;
  border: none;
  color: white;
}

.cst-btn-top:hover {
  background-color: #00539b;
  color: white;
}

.cst-btn-top-active {
  background-color: #013e74;
  transform: scale(1.02);
}

.choices {
  border: none;
  background-color: transparent;
}

.choices:hover {
  cursor: pointer;
  animation: grow 0.5s forwards;
  border: none;
}

.choices:disabled {
  color: red;
  animation: none;
}

@keyframes grow {
  to {
    transform: scale(1.2);
  }
}

.cst-table tbody tr:hover {
  background-color: #0274d810;
}

.cst-table thead th,
.cst-table tbody td {
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
}

.cst-link-page {
  cursor: pointer;
  padding: 0 3px 0 3px;
}

.cst-link-page:hover {
  text-decoration: underline;
}

.cst-button {
  border: none;
  color: gray;
}

.cst-button:disabled {
  background-color: rgb(250, 250, 250);
}

.cst-button:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.cst-button:last-child {
  border-radius: 0 5px 5px 0;
}

.mawawala {
  opacity: 0;
  transition: 1s;
}

.cst-modalnaloader {
  animation: changeopacity 2s ease-in infinite;
}

@keyframes changeopacity {
  0% {
    background-color: #d9d9d9a8;
  }

  50% {
    background-color: #ffffffa8;
  }

  100% {
    background-color: #d9d9d9a8;
  }
}

@media screen and (max-width: 767px) {
  .cst-modal-body5 {
    width: 90vw;
  }

  .cst-modal-body2 {
    width: 90vw;
  }
}

/* custom */

.cursor-pointer {
  cursor: pointer !important;
}

.navbar-head {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.panel.panel-inverse {
  border-radius: .7rem !important;
}

.panel.panel-inverse .panel-heading {
  border-radius: .7rem .7rem 0 0 !important;
}

.gap-1 {
  gap: 0.25rem;
}


.gap-2 {
  gap: 0.5rem;
}


.gap-3 {
  gap: 1rem;
}


.gap-4 {
  gap: 1.5rem;
}


.gap-5 {
  gap: 3rem;
}

.pe-none {
  pointer-events: none !important;
}


.sidebar {
  background: #FFFFFF;
}

.nav-header {
  color: #000000 !important;
}

.sidebar-items a {
  color: #000000 !important;
}

.sidebar .nav>li.active>a {
  position: relative;
  z-index: 10;
  color: #fff !important;
  background: #01004C;
}

.pace {
  display: none !important;
}

.feed-container {
  background: #F8F7FA !important;
}

@media screen and (max-width: 767px) {
  .profile-auth {
    display: none !important;
  }

  .pagination-container {
    flex-direction: column;
    gap: .8rem;
  }
}

.header .navbar-toggle.profile {
  padding: 0 !important;
  margin-right: 0 !important;
}

.header .navbar-nav {
  padding-right: 0;
}


.container-xxl {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
}


@media (max-width: 1200px) {


  .container-xxl {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {


  .container-xxl {
    max-width: 960px;
  }
}

@media (max-width: 768px) {


  .container-xxl {
    max-width: 720px;
  }
}

@media (max-width: 576px) {


  .container-xxl {
    max-width: 100%;
    padding: 0.5rem;
  }
}

.search-container {
  background: #fff;
  margin: 10px 10rem;
  padding: 10px;
  border-radius: 1rem;
  border: 0.5px solid #DBDADE;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .search-container {

    margin: 10px 4rem;
  }

  .modal-container {
    visibility: visible !important;
  }
}

@media (max-width: 767.98px) {
  .page-without-sidebar .header .navbar-brand {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: start;
  }
}

@media screen and (max-width: 576px) {
  .search-container {

    margin: 10px 1rem;
  }

  .nav-item.nav-username {
    display: none;
  }
}


form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.shadow-none {
  box-shadow: none !important;
}

.btn {
  border-radius: .375rem !important;
}

.message-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}

.rec-container {
  border-bottom: 2px solid #DBDADE;
}

.rec-text {
  display: inline-block;
  border-bottom: 3px solid #319FE8 !important;
}

.card.border-theme {
  border-color: #3389D6 !important;
}

.card {
  border: 1.5px solid rgba(34, 34, 34, .15) !important;
  border-radius: .375rem !important;
  box-shadow: 0 .25rem 1.125rem rgba(75, 70, 92, .1) !important;
}

.card-body {
  padding: 1.5rem;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

/* .selected-job {
    height: fit-content;
    overflow-y: auto;
} */

.label.label-custom {
  background: #D5FAE8;
}

.label.label-custom.text-gr {
  color: #139655 !important;
}

.btn-custom {
  color: #fff;
  background-color: #01004C;
  border-color: #01004C;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.btn-custom:hover {
  color: #fff;
  background-color: #1A1A6E;
  border-color: #1A1A6E;
}

.btn-outline-custom {
  color: #00003A;
  border-color: #00003A;
}

.btn-outline-custom:hover {
  color: #fff;
  background: #00003A;
}


.pd-1 {
  padding: 0.25rem !important;
}


.pd-2 {
  padding: 0.5rem !important;
}


.pd-3 {
  padding: 1rem !important;
}


.pd-4 {
  padding: 1.5rem !important;
}


.pd-5 {
  padding: 3rem !important;
}

.cst-modal-body5 {
  border-radius: .375rem !important;
}

.cst-modal-body2 {
  border-radius: .375rem !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.panel {
  margin-bottom: 0 !important;
}


.text-validation {
  color: #ff0026;
}

.group-invalid>label {
  color: #ff0026 !important;
}

.group-invalid>input,
.group-invalid>textarea,
.group-invalid>TextArea,
.group-invalid>.ts-wrapper,
.group-invalid>select {
  animation: shake 0.4s 1;
  border-color: #ff0026 !important;
  background-color: #fdeded !important;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-1px);
  }

  50% {
    transform: translateX(2px);
  }

  70% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(2px);
  }
}

/* .swal2-toast {
  z-index: 10000 !important;

} */

/* .swal2-popup.swal2-toast.swal2-icon-error.swal2-show {
  z-index: 10000 !important;
} */

div:where(.swal2-container) {
  z-index: 10000 !important;
}

.custom-font {
  font-size: 16px !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

/* body {
  background: #F8F7FA !important;
} */

.group-invalid>.react-select-container.css-b62m3t-container>.react-select__control.css-13cymwt-control {
  border-color: red !important;
  background-color: #fdeded !important;
}

.spinner-border {
  width: 1.1rem;
  height: 1.1rem;
}

.swal2-confirm.swal2-styled {
  outline: none !important;
}

#_rht_toaster {
  z-index: 10000 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}