.cursor-pointer {
  cursor: pointer;
}

.navbar-head {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.panel.panel-inverse {
  border-radius: .7rem !important;
}

.panel.panel-inverse .panel-heading {
  border-radius: .7rem .7rem 0 0 !important;
}

.gap-1 {
  gap: 0.25rem;
}


.gap-2 {
  gap: 0.5rem;
}


.gap-3 {
  gap: 1rem;
}


.gap-4 {
  gap: 1.5rem;
}


.gap-5 {
  gap: 3rem;
}

.pe-none {
  pointer-events: none !important;
}


.sidebar {
  background: #FFFFFF;
}

.nav-header {
  color: #000000 !important;
}

.sidebar-items a {
  color: #000000 !important;
}

.sidebar .nav>li.active>a {
  position: relative;
  z-index: 10;
  color: #fff !important;
  background: #01004C;
}